<!DOCTYPE html>
<html>
	<head>
		<title>Edit Post</title>
		<link href='http://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Indie+Flower' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Shadows+Into+Light' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

		<style type="text/css">
			#new-post-form {
				margin: 10px;
				font-family: Ubuntu, Helvetica, sans-serif;
			}

			.title {
				text-align: center;
				font-family: Lobster, Helvetica, sans-serif;
				margin: 10px;
			}

			.main-title {
				font-size: 108px;
			}

			.sec-title {
				font-size: 40px;
			}
		</style>

	</head>
	<body>
		<div class="title">
			<h1 class="main-title">Developville<small class="sec-title">Social Coding Blog</small></h1>
		</div>

		<form id="new-post-form" action="/posts/update" method="POST">
		  <label for="post-author">Name:</label><br/>
		  <input name="author" id="post-author" value="<%=post.author%>" />
			<br/><br/>
		  <label for="post-contents">Post:</label><br/>
		  <textarea class="form-control" rows="3" name="contents" id="post-contents" ><%=post.contents%></textarea>
		  <input type="hidden" name="id" value="<%=post.id%>"/><br/>
		  <input type="submit"/>
		</form>
	</body>
</html>
