<!doctype html>
<html lang="en">
<head>
    <link href='http://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Indie+Flower' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Shadows+Into+Light' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

    <title>Developville: Social Coding</title>

    <header style="margin: 10px;">
      <form class="form-inline" role="form">
        <div class="form-group">
          <label class="sr-only" for="exampleInputEmail2">Email address</label>
          <input type="email" class="form-control" id="exampleInputEmail2" placeholder="Enter email">
        </div>
        <div class="form-group">
          <div class="input-group">
            <div class="input-group-addon">@</div>
            <input class="form-control" type="email" placeholder="Enter email">
          </div>
        </div>
        <div class="form-group">
          <label class="sr-only" for="exampleInputPassword2">Password</label>
          <input type="password" class="form-control" id="exampleInputPassword2" placeholder="Password">
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox"> Remember me
          </label>
        </div>
        <button type="submit" class="btn btn-default">Sign in</button>
      </form>
    </header>

    <style type="text/css">
        body {
            font-family: Helvetica, sans-serif;
        }

        .title {
          text-align: center;
          font-family: Lobster, Helvetica, sans-serif;
          margin: 10px;
        }

        .main-title {
          font-size: 108px;
        }

        .sec-title {
          font-size: 40px;
        }

        a {
          font-family: Ubuntu, Helvetica, sans-serif;
          margin: 10px;
        }

        .board {
            border: 1px solid #eee;
            margin: 10px;
        }

        .post {
            padding: 10px;
            margin: 5px;
            border: 1px solid #aaa;
            font-family: Helvetica, sans-serif;
        }

        .footer  {
          font-family: Ubuntu, Helvetica, sans-serif;
          margin: 10px;
        }

        #new-post-form {
            border: 1px solid #eee;
            padding: 10px;
            margin: 10px;
        }

        #post-contents {
            display: block;
            width: 25%;
            height: 200px;
        }
    </style>
</head>
<body>

  <div class="title">
    <h1 class="main-title">Developville<small class="sec-title">Social Coding Blog</small></h1>
  </div>

    <a href="/posts/new"><button type="button" class="btn btn-primary">New Blog Post</button></a>
    <div class="board">
    <% posts.each do |post| %>
        <div class="post">
            <strong><%= post.author%></strong>
            <%= post.contents %>  <a href="/posts/show?id=<%=post.id%>"><button type="button" class="btn btn-primary">Full Post</button></a> <a href="/posts/edit?id=<%=post.id%>"><button type="button" class="btn btn-primary">Edit Post</button></a> <a href="/posts/delete?id=<%=post.id%>"><button type="button" class="btn btn-danger">Delete Post</button></a>
        </div>
    <% end %>
    </div>

  <div class="footer">
    <h4>Not a member?</h4>
    <button type="button" class="btn btn-primary">Sign up</button>
  </div>

</body>
</html>
