<!DOCTYPE html>
<html>
	<head>
		<title>Show Full Post</title>
		<link href='http://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Indie+Flower' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Shadows+Into+Light' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

		<style type="text/css">
			p {
				margin: 10px;
				font-family: Ubuntu, Helvetica, sans-serif;
			}

			.title {
				text-align: center;
				font-family: Lobster, Helvetica, sans-serif;
				margin: 10px;
			}

			.main-title {
				font-size: 108px;
			}

			.sec-title {
				font-size: 40px;
			}

			a {
				margin: 10px;
				font-family: Ubuntu, Helvetica, sans-serif;
			}
		</style>

	</head>

	<body>
		<div class="title">
			<h1 class="main-title">Developville<small class="sec-title">Social Coding Blog</small></h1>
		</div>

		<p>ID: <%=post.id%></p>
		<p>Author: <%=post.author%></p>
		<p>Contents: <%=post.contents%></p>
		<a href="/"><button type="button" class="btn btn-primary">Back to Index</button></a>
	</body>

</html>
